/* fw-external-classes: scroll-anchor */
.console-panel-logs {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    font-size: 12px;
}

.console-panel-logs .Console_Line:nth-child(even) .console-line {
    background-color: var(--bs-tertiary-bg);
}

.Console_Line {
    .log-warn {
        color: #d19a66;
    }
    .log-error {
        color: #e06c75;
    }
    .log-debug {
        color: var(--bs-secondary-color);
    }
}
